<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.web.bas.ac.uk/js-libs/jquery-3.1.1.min.js"></script>
<!-- Compiled and minified Bootstrap JavaScript plugins, include individual plugins instead if needed -->
<script src="https://cdn.web.bas.ac.uk/js-libs/boostrap-3.3.7.min.js"></script>
<!-- Cookie library used to persistently hide the cookie banner (slightly ironic we need a cookie to do this) -->
<script src="https://cdn.web.bas.ac.uk/js-libs/js.cookie-2.1.3.min.js"></script>
<!-- Code for managing cookie banner -->
<script src="{{ "/js/cookie-banner.js" | prepend: site.baseurl }}"></script>
{% if page.url == "/feedback.html" %}
<!-- Code for gathering user agent, etc. for feedback form -->
<script src="{{ "/js/feedback-environment.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/feedback-decoration.js"  | prepend: site.baseurl }}"></script>
{% endif %}
