---
layout: bas-style-kit/bsk--standard
sort_index: 0
slug: index
permalink: /:collection/index.html
title: Components
subtitle: Over a dozen reusable components built to provide iconography, dropdowns, input groups, navigation, alerts, and much more
menus:
  site_navigation_primary:
    identifier: primary_components
    weight: 3
  primary_components:
    title: All components
    weight: 1
---

<header class="bsk-jumbotron bsk-jumbotron-default bsk-jumbotron-lg bsk-docs-collection-masthead">
  <h1>{{ page.title }}</h1>
  <p>{{ page.subtitle }}</p>
</header>

{% assign topics_sorted = site.components | sort:"sort_index" %}

<div class="bsk-row bsk-row-cols-3">
{% for topic in topics_sorted %}
{% unless topic.slug == "index" %}
      <div class="bsk-col">
        <div class="bsk-docs-topic-index-divider"></div>
        <h2><a href="{{ topic.url | prepend: site.baseurl }}">{{ topic.title }}</a></h2>
        <ul class="bsk-list-inline">
          {% for section in topic.sections %}
            <li class="bsk-list-inline-item">
              <a href="{{ topic.url | prepend: site.baseurl }}#{{ section.title | slugify }}">{{ section.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
{% endunless %}
{% endfor %}
</div>
