---
layout: bas-style-kit/bsk--standard
sort_index: 0
slug: index
permalink: /v0.6.1/components/index
title: Components
subtitle: Over a dozen reusable components built to provide iconography, dropdowns, input groups, navigation, alerts, and much more
menus:
  primary_components:
    title: All components
    weight: 1
---

<header class="bsk-jumbotron bsk-jumbotron-default bsk-jumbotron-lg bsk-docs-collection-masthead">
  <h1>{{ page.title }}</h1>
  <p>{{ page.subtitle }}</p>
</header>

{% assign topics_sorted = site.components | sort:"sort_index" %}
{% for topic in topics_sorted %}
{% unless topic.slug == "index" %}
    {% capture modulo %}{{ forloop.index | modulo: 3 }}{% endcapture %}
    {% if modulo == '1' %}<div class="bsk-row">{% endif %}
      <div class="bsk-col-md-4">
        <div class="bsk-docs-topic-index-divider"></div>
        <h2><a href="{{ topic.title | slugify }}">{{ topic.title }}</a></h2>
        <ul class="bsk-list-inline">
          {% for section in topic.sections %}
            <li class="bsk-list-inline-item">
              <a href="{{ topic.title | slugify }}#{{ section.title | slugify }}">{{ section.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% if modulo == '0' or forloop.last %}</div>{% endif %}
{% endunless %}
{% endfor %}
