# A http://EditorConfig.org compliant configuration file.

root = true

# Defaults
[*]
# set unix-style newlines with a newline ending and no trailing whitespace
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
# Set default charset
charset = utf-8
# set default indentation
indent_style = space
indent_size = 2

# Language overrides
[*.py]
indent_size = 4

[*.tf]
indent_size = 4
