---
slug: index
permalink: /:collection/:slug
layout: default
title: Core styles
subtitle: Global CSS settings, fundamental HTML elements styled and enhanced with extensible classes, and an advanced grid system
---

<header id="site-content" class="bsk-jumbotron bsk-jumbotron-default bsk-jumbotron-lg bsk-docs-collection-masthead" tabindex="-1">
  <h1>{{ page.title }}</h1>
  <p>{{ page.subtitle }}</p>
</header>

{% for topic in site.core %}
{% unless topic.slug == "index" %}
    {% capture modulo %}{{ forloop.index | modulo: 3 }}{% endcapture %}

    {% if modulo == '1' %}<div class="bsk-row">{% endif %}

        <div class="bsk-col-12-md-4">
            <div class="topic-index-divider"></div>
            <h2><a href="{{ topic.url | prepend: site.baseurl }}">{{ topic.title }}</a></h2>
            <ul class="bsk-list-inline">
                {% for section in topic.sections %}
                    <li><a href="{{ topic.url | prepend: site.baseurl }}#{{ section.title | slugify }}">{{ section.title }}</a></li>
                {% endfor %}
            </ul>
        </div>

    {% if modulo == '0' or forloop.last %}</div>{% endif %}
{% endunless %}
{% endfor %}
