---
layout: default
title: Site Feedback
---

<header class="page-header">
  <h1>Feedback</h1>
  <p class="lead">Use the form below to ask a question, report a problem or suggest an improvement we can make to this website.</p>
</header>

<form class="app-feedback-form" action="https://o4eepn35pb.execute-api.eu-west-1.amazonaws.com/prod/feedback" accept-charset="UTF-8" method="post">
  <!-- Additional environment information -->
  <input type="hidden" id="feedbackEnvironmentSiteIdentifier" name="feedbackEnvironmentSiteIdentifier" value="{{ site.feedback_api_identifier }}"></input>
  <input type="hidden" id="feedbackEnvironmentSiteRevsion" name="feedbackEnvironmentSiteRevsion" value="{{ site.revision }}"></input>
  <input type="hidden" id="feedbackEnvironmentBSKVersion" name="feedbackEnvironmentBSKVersion" value="{% if site.x_environment == 'staging' %}{{ site.bsk_version_staging }}{% else %}{{ site.bsk_version_production }}{% endif %}"></input>
  <input type="hidden" id="feedbackEnvironmentJSAvailable" name="feedbackEnvironmentJSAvailable" value="false"></input>
  <input type="hidden" id="feedbackEnvironmentUA" name="feedbackEnvironmentUA" value="unkown"></input>
  <input type="hidden" id="feedbackEnvironmentBrowserSize" name="feedbackEnvironmentBrowserSize" value="unkown"></input>

  <!-- Main form -->
  <fieldset>
    <legend>What is your feedback about?</legend>
    <div class="form-group">
      <div class="radio">
        <label>
          <input type="radio" name="feedbackType" id="feebackTypeComment" value="comment" checked>
          General comment or question on the content of this website
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="feedbackType" id="feedbackTypeBug" value="bug">
          A bug or technical issue with using this website (including security disclosures)
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="feedbackType" id="feedbackTypeImprovement" value="improvement">
          A suggestion for an improvement
        </label>
      </div>
      <span class="help-block margin-after">This helps us route your feedback to most relevant person or team.</span>
    </div>
  </fieldset><!-- /feedbackType -->
  <fieldset>
    <legend>What does your feedback apply to?</legend>
    <div class="form-group">
      <div class="radio">
        <label>
          <input type="radio" name="feedbackScope" id="feebackScopeEverything" value="everything">
          The whole site
        </label>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="radio">
            <label>
              <input type="radio" name="feedbackScope" id="feebackScopeSpecific" value="specific" checked>
              A specific page
            </label>
          </div>
        </div>
        <div class="col-md-10">
          <label class="sr-only" for="feedbackScopeSpecificUrl">Specific page URL</label>
          <input type="url" class="form-control" name="feedbackScopeSpecificUrl" id="feedbackScopeSpecificUrl" placeholder="https://www.example.com/index.html">
        </div>
      </div>
      <span class="help-block margin-after">If there are multiple pages please select <em>The whole site</em>.</span>
    </div>
  </fieldset><!-- /feedbackScope -->
  <fieldset>
    <legend>Can you provide any more information?</legend>
    <span class="help-block margin-before"><strong>Do not any include any sensitive or personal information.</strong></span>
    <div class="form-group">
      <label class="sr-only" for="feedbackDetails">Feedback details</label>
      <textarea name="feedbackDetails" id="feedbackDetails" class="form-control" rows="8"></textarea>
    </div>
  </fieldset><!-- /feedbackDetails -->
  <fieldset>
    <legend>Would you like a reply?</legend>
    <div class="form-group">
      <span class="help-block margin-before">If you would like a reply please enter your contact details, we may not reply straight away.</span>
      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label">Your name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="feedbackContactName" id="feedbackContactName" placeholder="Adam Smith">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Your email address</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" name="feedbackContactEmail" id="feedbackContactEmail" placeholder="adam.smith@bas.ac.uk">
          </div>
        </div>
      </div>
      <span class="help-block margin-after">We will only use this information for contacting you about your feedback.</span>
    </div>
  </fieldset><!-- /feedbackContact -->
  <fieldset>
    <legend>Additional information collected</legend>
    <span class="help-block margin-before">
      Some additional information which is useful for troubleshooting problems will be automatically included with your feedback.
      <br /> <strong>This information can not be used to personally identify you.</strong>
    </span>
    <button id="feedbackEnvironmentContainerTrigger" class="btn btn-bsk btn-default" type="button" data-toggle="collapse" data-target="#feedbackEnvironmentContainer" aria-expanded="false" aria-controls="feedbackEnvironmentContainer" disabled>Show additional information</button>

    <div id="feedbackEnvironmentContainer" class="collapse form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label">Site identifier</label>
          <div class="col-sm-10">
            <p id="feedbackEnvironmentOutputSiteIdentifier" class="form-control-static">{{ site.feedback_api_identifier }}</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Site version</label>
          <div class="col-sm-10">
            <p id="feedbackEnvironmentOutputSiteRevsion" class="form-control-static">{{ site.revision }}</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">BAS Style Kit version</label>
          <div class="col-sm-10">
            <p id="feedbackEnvironmentOutputBSKVersion" class="form-control-static">
              {% if site.x_environment == 'staging' %}
                {{ site.bsk_version_staging }}
              {% else %}
                {{ site.bsk_version_production }}
              {% endif %}
            </p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">JavaScript available</label>
          <div class="col-sm-10">
            <p id="feedbackEnvironmentOutputJSAvailable" class="form-control-static">No</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">User-agent</label>
          <div class="col-sm-10">
            <p id="feedbackEnvironmentOutputUA" class="form-control-static">Unknown</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Browser size (W x H)</label>
          <div class="col-sm-10">
            <p id="feedbackEnvironmentOutputBrowserSize" class="form-control-static">Unknown</p>
          </div>
        </div>
    </div>
  </fieldset><!-- /feedbackEnvironment -->
  <fieldset>
    <button type="submit" class="btn btn-lg btn-bsk btn-bsk-primary">Send Feedback</button>
  </fieldset>
</form>

<hr />

<p class="text-muted">If this form isn't working you can leave feedback directly by contacting the
<a href="mailto:webapps@bas.ac.uk">BAS Web &amp; Applications Team</a>.</p>
