<div class="bsk-alert bsk-alert-static-top bsk-alert-dismissible bsk-alert-solid-cookie-notice bsk-docs-cookie-notice" role="alert" data-bsk-role="cookie-notice">
  <div class="bsk-container">
    <button type="button" class="bsk-close" data-dismiss="alert" aria-label="Close"><i class="fa fa-fw fa-times-circle" aria-hidden="true"></i></button>
    This website uses cookies to help us make it better -
    <a class="bsk-alert-link" href="https://www.bas.ac.uk/about-this-site/privacy-cookie-policy/">find out more</a>.
  </div>
</div>
