<div class="site-alert-cookie-notice-wrapper">
  <div class="bsk-container">
    <div class="bsk-alert bsk-alert-static-top bsk-alert-dismissible bsk-alert-solid bsk-alert-cookie-notice" role="alert">
      <button type="button" class="bsk-close" data-dismiss="alert" aria-label="Close">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
      This website uses cookies to help us make it better - <a href="#" class="bsk-alert-link">find out more</a>.
    </div>
  </div>
</div>
