.site-feedback-form {
  fieldset {
    margin-top: 40px;
  }

  .help-block.margin-before {
    margin-bottom: 20px;
  }
  .help-block.margin-after {
    margin-top: 20px;
  }

  .collapse {
    margin-top: 20px;
  }

  dl.additional-information {
    margin-top: 20px;

    dt {
      margin-bottom: 10px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
