// Copies of Bootstrap or BAS Style Kit variables
$screen-sm-min: 768px !default;

// Workaround for cookie notice in fixed width container
.site-alert-cookie-notice-wrapper {
  background-color: #003a5d;

  .bsk-container {
    .bsk-alert-cookie-notice {
      padding-left: 0;
      padding-right: 0;

      .bsk-close {
        right: 15px;
      }
    }
  }
}

// Some elements to be formalised
.site-footer {
  .site-build-info,
  .site-back-to-top,
  .bsk-footer-policy-links,
  .site-licensing {
    text-align: center;
    margin-top: 10px;
  }

  @media (min-width: $screen-sm-min) {
    .site-back-to-top,
    .bsk-footer-policy-links,
    .site-build-info,
    .site-licensing {
      margin-top: 0;
    }

    .site-back-to-top,
    .bsk-footer-policy-links {
      text-align: right;
    }

    .site-build-info,
    .site-licensing {
      text-align: left;
    }
  }
}

// Experimental variant in some places
.site-text-experimental-light {
  color: hsl(237, 28%, 71%);
}
