---
---
@charset "utf-8";

// ==  Site specific styles

// Styles for Alpha banner - these will be merged into a future version of the BAS Style Kit

$beta-phase: #f47738;

.label-app-phase-beta {
  background-color: $beta-phase;
  border-radius: 0;
}

// Styles for Cookie banner - these will be merged into a future version of the BAS Style Kit

.alert-app-top-pin {
  margin-bottom: 0;
  border: none;
}

.alert-app-cookie-banner {
  background-color: #006AAA;
  color: white;

  .alert-link {
    color: white;
  }

  .close {
    filter: alpha(opacity=100);
    opacity: 1;

    &:focus, &:hover {
      color: #E7EBF1;
    }
  }
}

// Styles for main navigation
.bsk-docs-main-navigation {
  border-left: none;
  border-right: none;

  &.no-margin-bottom {
      margin-bottom: 0;
  }
}

// Styles for BAS logo shown on homepage
.bsk-docs-symbol {
  display: inline-block;
  height: 256px;
  width: 256px;
  background-image: url('{{ "/img/bas-logo-roundel-only.png" | prepend: site.baseurl }}');
  background-repeat: no-repeat;
  background-size: contain;
  border: 3px solid #ffffff;
  border-radius: 100%;
}

// Background image shown on homepage
.bsk-docs-masthead {
  background-image: url('{{ "/img/site-masthead-tom-welsh.jpg" | prepend: site.baseurl }}');
  background-repeat: no-repeat;
  background-size: cover;
}

// Copyright notice shown in the bottom-right of images
.bsk-docs-image-copyright-container {
  display: block;
  position: relative;
}

.bsk-docs-image-copyright-notice {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 3px 8px;
  background-color: rgba(51, 51, 51, 0.8);
  color: #FFFFFF;
}

// Styles for sections on the homepage
.bsk-docs-home-sections {
  section {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  h2 {
    margin-bottom: 20px;
  }
}

// Styles for feedback form

.app-feedback-form {
  fieldset {
    margin-top: 40px;
  }

  .help-block.margin-before {
    margin-bottom: 20px;
  }
  .help-block.margin-after {
    margin-top: 20px;
  }

  .collapse {
    margin-top: 20px;
  }
}
// Temporary styles for alert shown on the homepage
.bsk-docs-alert-outline-inset {
  margin: 20px;
  padding: 20px;
  border: 1px solid #EEEEEE;
  border-left: 10px solid #FFBF47;
}

