---
title: Starter template
---

<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Recommended meta tags for SEO -->
    <title>BAS Style Kit - Starter template</title>
    <meta name="description" content="A brief description of this page, or application">

    <!-- Compiled and minified customised Bootstrap CSS for the BAS Style Kit -->
    {% include snippets/link-css-bootstrap-bsk-min.html %}
    <!-- Compiled and minified BAS Style Kit CSS -->
    {% include snippets/link-css-bas-style-kit-min.html %}

    <!-- Site specific styles - optionally, any additional CSS for your website or application -->
  </head>
  <body>
    <h1>Welcome to the starter template for the BAS Style Kit!</h1>

    <!-- Site specific scripts - optionally - any required JavaScript for your website or application -->
  </body>
</html>
