---
layout: default
---

<header class="page-header">
    <h1>{{ page.title }}</h1>
</header>

<div class="row">
  <div class="col-md-9">
    <article class="content-feature">
      {{ content }}
    </article>
  </div>
  <div class="col-md-3">
    <aside class="sidebar-bsk sidebar-bsk-default">
      <h2>In <em>{{ page.title }}</em></h2>
      <ul class="list-unstyled">
      {% for section in page.sections %}
        <li><a href="#{{ section.slug }}">{{ section.title }}</a></li>
      {% endfor %}
      </ul>

      {% for collection in site.collections %}
        {% if collection.label == page.collection %}
          <h2>Also in <a href="/{{ collection.label | prepend: site.baseurl }}"><em>{{ collection.title }}</em></a></h2>
          <ul class="list-unstyled">
            {% for topic in collection.docs %}
            <li><a href="{{ topic.url | prepend: site.baseurl }}">{{ topic.title }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endfor %}
    </aside>
  </div>
</div>
