---
slug: index
layout: default
title: Interactivity
subtitle: Bring components to life with a series of custom JavaScript plugins
---

<header class="jumbotron jumbotron-bsk jumbotron-bsk-default jumbotron-bsk-lg bsk-docs-collection-masthead">
  <h1>{{ page.title }}</h1>
  <p>{{ page.subtitle }}</p>
</header>

{% for topic in site.interactivity %}
{% unless topic.slug == "index" %}
    {% capture modulo %}{{ forloop.index | modulo: 3 }}{% endcapture %}

    {% if modulo == '1' %}<div class="row">{% endif %}

        <div class="col-md-4">
            <h2><a href="{{ topic.url | prepend: site.baseurl }}">{{ topic.title }}</a></h2>
            <ul class="list-inline">
                {% for section in topic.sections %}
                    <li><h4><a href="{{ topic.url | prepend: site.baseurl }}#{{ section.title | slugify }}">{{ section.title }}</a></h4></li>
                {% endfor %}
            </ul>
        </div>

    {% if modulo == '0' or forloop.last %}</div>{% endif %}
{% endunless %}
{% endfor %}
